
.outer {
  height: 270px;
  width: 150px;
  position: relative;
}
.inner {
  position: absolute ;
  z-index: 1;
  top: 170px; 
 
  left: 9px;
 
  color: white; 
  text-align: center;
}

.inner p {
  
  margin-top: 1px;
  margin-bottom: 2px;
  background: rgba(0, 0, 0, 0);
}
.download_button {
  position: absolute;
  top : 0;
  background: rgba(0, 0, 0, 0.5);
  height: 270px;
  width: 150px;
  visibility : hidden;
  color: white;
  font-size: 15px;
  text-align: center;
  
}
span.a{
  
  display: inline-block; 
  width: 150px;
  height : 30px;
 
  padding: 4px;
    
  background-color: blue; 
}

.download_button p {
  position: absolute;
  
  background-color :primary ;
  top: 140px;
  left: 0px;
}
img{
  display : inline-block;
}

.outer:hover .download_button  {
 visibility : visible ;
}
.material{
 height : 35px; 
  width: 75vw;
 color : whitesmoke;
 font-size: 20px;
 padding : 3px 0px 4px 30px ;
   margin: auto;
 background-color: #ff8c19; 
}

  

